* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  :root {

    --color-primary: #0A3871;
    --color-secondary: #00bcd4;;
    --color-background: #F3F5FC;
    --color-gray: #495057;
    --color-white: #fff;
    --button-primary: #094895;
    --button-secundary: #eaedf0;
    --font-primary: 'Open Sans', sans-serif;
}

html {

  /* A cada 1rem será considerado 10px */
  font-size: 62.5%;
}

  body {

    background-color: var(--color-background);

  }

  main {
    
      display: flex;
      width: 100%;
      max-width: 980px;
  }

  .logo {

    position: absolute;
    margin-left: 70px;
    margin-top: 20px;

  }

  .text-input {

    position: absolute;
    width: 50%;
    max-width: 980px;
    height: 300px;
    left: 150px;
    margin-top: 100px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    background-color: var(--color-background);
    border: none;
    text-transform: lowercase;

  }


  .retorno {

    position: absolute;
    width: 30%;
    max-width: 980px;
    height: 580px;
    top: 45px;
    right: 50px;
    border: 1px solid black;
    padding: 25px;
    background: var(--color-white);
    border-radius: 28px;
    border: none;
    box-shadow: 0px -1px 12px -2px var(--color-gray);

  }
  
  #nEncontrado {

    position: absolute;
    text-align: center;
    right: 1%;

  }

  #nEncontrado img {

    width: 250px;
    height: 250px;
    margin-top: 25%;

  }

  #nEncontrado h1 {
    
    font-size: 2.0rem;
    margin-top: 5%;
    font-family: 'Open sans';
    font-style: normal;

  }

  #nEncontrado p {

    font-size: 1.4rem;
    margin-top: 5%;
    color: var(--color-gray);
    font-family: 'Open sans';
    font-style: normal;
  }

  .resultado {

    width: 100%;
    max-width: 980px;
    height: 450px;
    background: var(--color-white);
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 150%;
    text-transform: lowercase;

  }

  /* tirando as bordas do textarea. */
  textarea:focus, input:focus, select:focus {

    outline: 0;

  }

  .warning {

    display: flex;
    font-size: 1.4rem;
    margin-left: 8%;
    font-family: 'Open Sans';
    font-style: normal;

  }

  .warning img {

    margin-right: 2%;

  }

  .buttons {

    position: absolute;
    top: 80%;
    left: 165px;
  
  }

  #encripta {

    width: 270px;
    height: 60px;
    border-radius: 24px;
    background: #0A3871;
    border: 1px solid  #77797b;
    color: #FFFFFF;
    margin-top: 1%;
    margin-left: 60px;
    margin-right: 20px;
    cursor: pointer;

  }

  #encripta:hover {

    background-color: var(--button-primary);
    transition: 0.3s;
    
  }

  #descripta {

    width: 270px;
    height: 60px;
    border-radius: 24px;
    background: var(--color-background);
    border: 1px solid  #77797b;
    margin-right: 190px;
    cursor: pointer;
    
  }

  #descripta:hover {

    background-color: var(--button-secundary);
    transition: 0.3s;

  }

  #copiar {

    position: absolute;
    width: 270px;
    height: 60px;
    margin-top: 0.5%;
    border-radius: 24px;
    background: var(--color-white);
    border: 1px solid  #77797b;
    cursor: pointer;
    display: none;

  }

  #copiar:hover {

    background-color: var(--button-secundary);
    transition: 0.3s;

  }

  .hide {

    display: none;

  }



